.welcome_title {
  font-size: 40px;
  color: darkblue;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 25px;
}
#welcome_phrase {
  font-size: 17px;
  /* margin-left: 280px; */
  text-align: center;
}

.head_row {
  background-color: lightgray;
  padding: 20px;
}
.input_row {
  padding: 20px;
  justify-content: center;
}

.last_row{
  justify-content: center;
}
.log_title {
  font-size: 17px;
  text-align: left;
  white-space: nowrap;
}
.user_input_textbox {
  width: 300px;
}
.reams_box {
  width: 110px;
}
.first-button {
  background-color: #327df6;
  color: white;
  width: 100px;
  align-items: flex-end;
}
.del-button {
  background-color: #f6c244;
  color: black;
  align-items: flex-end;
  font-size: 10px;
  margin-bottom: 2px;
}
.total_div {
  padding-left: 30px;
}
.alert-danger {
  display: none;
}
.alert {
  display: none;
}
.alert-secondary {
  display: none;
}
.homepage_container{
  background-color: lightblue;
  height: 100vh;
  
}
.home-logsales{
  background-color: white;
  border-radius: 5px;
  padding: 4px;
  color: rgb(137, 135, 135);
  font-size: 15px;
}

.home-logsales:hover{
  background-color: lightgray;
  color: black;
}
#initial_sales_person{
  margin-left: 14%;
  font-size: 14px;
  color: grey;
}

.sales_class{
  color: blue;
}